body {font-family:"Microsoft JhengHei";}

.information-btn {
    width: 80%;
    height: 20%;
}

#divleft {
    float: left;
    height: 100%;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    padding: 0;
    background: #fcf9f9;
    /* margin-top: 25px; */
    -webkit-user-select: none;
}

#divleft hr{
    border: 0.5px solid rgb(197, 197, 197);
    background-color: black;
    margin: 0px;
}

#divright {
    float: left;
    height: 100%;
    padding: 0px 20px;
    
}

#divright > div{
    background-color: rgba(122, 122, 122, 0.226);
    border-radius: 30px
}

.line1 {
    text-align: center;
    line-height: 50px;
    margin: auto;
}

.line2 {
    line-height: 50px;
    margin: auto;
}

.line3 {
    line-height: 50px;
    margin: auto;
}

.line4 {
    line-height: 50px;
    margin: auto;
}

.line5 {
    line-height: 50px;
    margin: auto;
}

.line6 {
    line-height: 50px;
    margin: auto;
}

#searchbutton {
    float: left;
}

.indexBTN {
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    background: #fcf9f9;
    padding: 20px;
    /* border-radius: 5px; */
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    /* margin: 5px; */
    font-size: 24px;
}

.indexBTN:hover a{
    background: #f6b93b;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.indexBTN:hover {
    background: #f6b93b;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
}

.indexBTN span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
}

.indexBTN span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.indexBTN:hover span {
    padding-right: 25px;
}

.indexBTN:hover span:after {
    opacity: 1;
    right: 0;
}

.dot {
    white-space : nowrap; 
    overflow : hidden;
    text-overflow : ellipsis;
}

.boxBorder{
    border: 0px;
}
.boxBorder:hover{
    background-color: rgb(205, 217, 255);
}

#couponModal label{
    font-size: 20px;
}

.modal-header{
    background-color: orange;
    color: white;
    text-align: center;
    font-size: 2em;
}
.ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.disable {
	pointer-events: none;
}
.table tbody tr td{
    vertical-align: middle;
}
.disableSelect {
    -webkit-user-select: none;   /* for Chrome */
}