html,
body {
    height: 100%;
    width: 100%;
}

.container-fuild {
    width: 100%;
    height: 100%;
} 

#fixedDiv {
    height: 140px;
    background-color: white;
}

.fixedItem {
    background-color: orange;
    width: 300px;
    height: 120px;
    margin: 10px auto;
}
.fixedItem:hover{
    background-color: #F49F05;
    width: 302px;
    height: 122px;
}

img {
    width: 70px;
    height: 80px;
    margin: 20px 115px;
}
