#buttomDiv {
    height: 470px;
}
#leftButtom {
    width: 400px;
    height: 450px;
    margin: 8px auto;
}
#orderBtn {
    height: 80px;
    font-size: 25px;
    font-weight: bolder;
    margin: 8px auto;
    color:#3c3c3c;
    text-align: center;
    padding: 0px;
}
#rightButtom {
    width: 840px;
    height: 450px;
    margin: 12px auto;
    position: fixed;
    overflow: auto;
}
.jumbotron {
    width: 800px;
    min-height: 430px;
    /* min-height: 480px; */
    margin: 10px 20px; 
    font-family: Microsoft JhengHei;
    display: none;
    background-color: whitesmoke;
}

#detailsTitle {
    text-align: right;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    color:#5b5b5b;
}
#detailsItem {
    width: 550px;
    margin: auto;
    color:#5b5b5b;
}
#detailsTotal {
    width: 550px;
    margin: auto;
    color:#5b5b5b;
}
.detailsBtn{
    font-size: 28px;
    margin: 1% auto -1% auto;
    display: block;
    font-weight: bold;
}
@media (min-width: 1300px) and (max-width: 1600px){
    #leftButtom {
        width: 475px;
        height: 554px;
        margin: 10px auto;
    }
    #buttomDiv {
        height: 584px;
    }
    #rightButtom{
        width: 1006px;
        height: 564px;
        margin: 10px auto;
    }
    .jumbotron {
        width: 966px;
        min-height: 544px;
    }
    .detailsBtn{
        margin: 5% auto -5% auto;
    }
    #orderBtn {
        height: 95px;
        font-size: 30px;
        margin: 15px auto;
    }
}
#detailsGroup{
    display: inline-block;
    margin: auto;
}
.dropdown-toggle{
    font-size: 20px;
    font-weight: bold;
}
.dropdown-item{
    text-align: center;
    font-size: 20px;
    color: #212529;
    font-weight: bold;
}
.dropdown-item:hover, .dropdown-item:focus {
    color:#dcdcdc;
    background-color: white;
}
.dropdown-item.active, .dropdown-item:active {
    color:#dcdcdc;
    background-color: white;
}
.modal{
    font-family: Microsoft JhengHei;
}
[v-cloak] {
    display: none;
}