#buttomDiv {
    height: 550px;
}
#leftButtom {
    width: 400px;
    height: 500px;
    margin: 25px auto;
}
#orderBtn {
    height: 80px;
    font-size: 25px;
    font-weight: bold;
    margin: 10px auto;
    color:#3c3c3c;
    text-align: center;
    padding: 0px;
}
#rightButtom {
    width: 840px;
    height: 500px;
    margin: 25px auto;
    position: fixed;
    overflow: auto;
}
.jumbotron {
    width: 800px;
    min-height: 480px;
    margin: 10px 20px; 
    font-family: Microsoft JhengHei;
    display: none;
    background-color: whitesmoke;
}

#detailsTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#5b5b5b;
}
#detailsItem {
    width: 550px;
    margin: auto;
    color:#5b5b5b;
}
#detailsTotal {
    width: 550px;
    margin: auto;
    color:#5b5b5b;
}
.detailsBtn{
    font-size: 28px;
    margin: 3% auto -3% auto;
    display: block;
    font-weight: bold;
}
#takeoutTime{
    width: 400px;
    font-size: 28px;
    margin: 3% auto -3% auto;
    display: block;
    font-weight: bold;
    text-align: center;
}
#timeInterval{
    color: black;
    font-size: 36px;
}

@media (min-width: 1300px) and (max-width: 1600px){
    #leftButtom {
        width: 475px;
        height: 554px;
        margin: 10px auto;
    }
    #buttomDiv {
        height: 584px;
    }
    #rightButtom{
        width: 1006px;
        height: 564px;
        margin: 10px auto;
    }
    .jumbotron {
        width: 966px;
        min-height: 544px;
    }
    .detailsBtn{
        margin: 5% auto -5% auto;
    }
    #orderBtn {
        height: 95px;
        font-size: 28px;
        margin: 15px auto;
    }
}
[v-cloak] {
    display: none;
}