#buttomDiv {
    height: 550px;
}
#leftButtom {
    width: 400px;
    height: 500px;
    margin: 25px auto;
    /* border: 2px solid black; */
}
#orderBtn {
    height: 80px;
    font-size: 25px;
    font-weight: bold;
    margin: 10px auto;
    color:#3c3c3c;
    text-align: center;
    padding: 0px;
}
#rightButtom {
    width: 840px;
    height: 500px;
    margin: 25px auto;
    position: fixed;
    overflow: auto;
}
.jumbotron {
    width: 800px;
    min-height: 480px;
    margin: 10px 20px; 
    font-family: Microsoft JhengHei;
    display: none;
    background-color: whitesmoke;
}

#detailsTitle {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color:#5b5b5b;
}
#detailsItem {
    width: 550px;
    margin: auto;
    color:#5b5b5b;
}
#detailsTotal {
    width: 550px;
    margin: auto;
    color:#5b5b5b;
}
.detailsBtn{
    font-size: 28px;
    margin: 10% auto -10% auto;
    display: block;
    font-weight: bold;
}
@media (min-width: 1300px) and (max-width: 1600px){
    #leftButtom {
        width: 480px;
        height: 564px;
        margin: 10px auto;
    }
    #buttomDiv {
        height: 614px;
    }
    #rightButtom{
        width: 1006px;
        height: 564px;
        margin: 10px auto;
    }
    .jumbotron {
        width: 966px;
        min-height: 544px;
    }
    .detailsBtn{
        margin: 25% auto -25% auto;
    }
    #orderBtn {
        height: 95px;
        font-size: 28px;
        margin: 15px auto;
    }
}
.modal{
    font-family: Microsoft JhengHei;
}
#modalHeader{
    margin: 5% auto 1% auto;
    font-weight: bold;
    font-size: 26px;
}
#modalFooter{
    margin: 1% auto 5% auto;
}
[v-cloak] {
    display: none;
}