body {font-family:"Microsoft JhengHei";}
.resetPassword {
    
    margin-top: 18%;
    padding: 20px 30px 30px 30px;
    /* border:1px solid rgba(255, 166, 0, 0.856) ; */
    background-color: rgba(255, 255, 255, 0.856) ;
    box-shadow: 0.5px 1px 2px 1px rgba(145, 139, 139, 0.7);
}

.title {
    color: #333;
    font-size: 2rem;
    line-height: 1em;
    padding: 16px 0;
    text-align: center;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 20px;
}

.btn {
    background-color: orange;
    border-color: orange;
    font-weight: bold;
    font-family: fantasy;
    margin-top: 15px;
}

.btn:hover {
    background-color: rgba(255, 166, 0, 0.856);
    border-color: rgba(255, 166, 0, 0.856);
}

.btn-primary:disabled{
    background-color: orange;
    border-color: orange;
}