/* 整個畫面 */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 導覽列滑過超連結 */
#navbarItem a {
    color: #ffa500;
}

/* 隱藏式 header 搜尋 */
#headerSearchLarge,
#headerAreaLarge,
#headerCategoryLarge {
    visibility: hidden;
}

/* 內容 */
.main {
    flex: 1;
    padding-top: 60px;
}

/* 內容頭版 */
.mainHead {
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 內容搜尋端div */
.mainSearchDiv {
    height: 180px;
    width: 900px;
    text-align: center;
}

#selectArea,
#selectCategory,
#SearchAddress {
    float: left;
}

/* 本日推薦 */
#todayRecommend,
#popularRestaurant {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.todayRecommendContent,
.popularRestaurantContent {
    padding: 0px 15px;
}

.todayRecommendContentItem,
.popularRestaurantContentItem {
    background-color: #FFF8DC;
    padding: 0px 10px;
    text-align: center;
}

.restaurantImage {
    object-fit: cover;
    width: 100%;
    height: 240px;
}

/* 分隔線 */
.separationline {
    width: 88%;
    margin: 0 auto;
}

/* 餐廳圖片超連結css */
.restaurantLink {
    color: black;
}

.restaurantLink:hover {
    color: black;
    text-decoration: none;
}

/* 餐廳加入 */
.restaurantJoinUs {
    background-image: url("../img/restaurant.jpg");
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
}

.restaurantJoinUsContent {
    background-color: white;
    margin: auto 35px;
    padding: 20px;
}

#restaurantJoinBtn {
    float: right;
    width: 50%;
}

/* 頁尾 背景 */
.footer {
    padding-bottom: 88px;
    padding-top: 88px;
    background-color: #FFF8DC;
}

/* 頁尾 字體顏色 */
.footer * {
    color: #ffa500;
}

/* 頁尾 滑過超連結 */
.footer a:hover {
    color: #ffa500;
    text-decoration: none;
}

/* ShoppingBagModal */
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 430px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-title{
    color: orange;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

#shoppingBagModalBody ul,
#shoppingBagModalBody li{
    padding:0; 
    margin:0;
}

.shoppingBagModalItemQuantity {
    width: 20%;
}

.shoppingBagModalItemDetail {
    width: 75%;
    color: black;
}

.shoppingBagModalItemDetail:hover {
    color: black;
}

.modal.right #shoppingBagModalCheckOutDiv {
    background-color: orange;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 20px;
}

.modal.right #shoppingBagModalCheckOutItem {
    border-color:white;
    border-style:solid;
    border-width:1px;
    padding: 0px 4px;
}

.modal.right.fade .modal-dialog {
    right: -430px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* 餐廳title資訊 */
.restaurantImgDiv {
    width: 100%;
    height: 380px;
    background-position: center;
    background-size: cover;
    display: flex;
}

.restaurantDetailDiv{
    width: fit-content;
    background: transparent;
}

.restaurantDetail {
    background-color:white;
    padding: 24px 40px 24px 80px;
}

.restaurantDetailList div{
    background-color: #FFF8DC;
    padding: 0px 10px;
    text-align: center;
}

.restaurantDetailAddress {
    padding-top: 20px;
    font-size: 0.9rem;
}

.restaurantDetailAddress a {
    color: #ffa500;
}

/* 分類排 */
#categoryBarDiv {
    background-color: white;
}

#categoryBar{
    width: 90%;
    height: 60px;
}

#categoryBarList a{
    font-size: 1.1rem;
}

/* 分類內容 */
.categoryListDiv {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.media {
    border: 1px solid #E8E8E8;
}

.categoryItemImg {
    width: 45%;
    height: 158px;
    object-fit: cover;
}

.media-body {
    padding: 5px 0px;
    height: 158px;
}

.categoryFoodTitle{
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
}

.categoryFoodDesc{
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  
}

.categoryItem {
    color: black;
}

.categoryItem:hover {
    color: black;
    text-decoration: none;
}

/* orderModal */
#orderModalCenterContent {
    width: 680px;
    left: -90px;
}

#orderModalCenterHeader {
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 676px;
    height: 400px;
}

#orderModalCenterBody{
    padding: 24px 24px 32px;
    width: 676px;
}

.orderModaloodTitle{
    align-items: center;
}

.orderModalFoodDesc {
    padding-top: 16px;
    font-size: 0.9rem;
}

#orderModalCenterFooter .badge{
    font-size: 1.1rem;
}

#orderModalCenterFooter .btn{
    color: white;
    background-color: orange;
}

.floatRight {
    float:right;
}

.floatLeft {
    float:left;
}

.textWhite {
    color: white;
}

.bgOrange {
    background-color: orange;
}

.colorOrange {
    color: orange;
}

.aHoverColor:hover {
    color: orange;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.textCenter {
    text-align: center;
}

.noPad {
    padding: 0px;
}

.noMarg {
    margin: 0px;
}

/* orderDetail頁面 */
#orderDetailDiv {
    padding: 40px 0px 80px;
    width: 92%;
}

.orderDetailItemDiv{
    padding-top: 20px;
}

.orderSummaryDiv {
    width: 472px;
    top: 150px;
    position: sticky;    
    padding: 24px;
    box-shadow: rgba(255, 165, 0, 0.15) 0px 2px 50px;
    float: right;
}

.divCenter {
    margin:0px auto;
}

.orderConfirmDiv {
    width: 100%;
    height: 56px;
    justify-content: center;
    color: white;
}

/* userOrderDetail頁面 */
#userOrderDetailDiv {
    width: 92%;
}

.userOrderDetailrestaurantImg {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

#reorderBtn {
    width:100%;
    height: 48px;
    font-size: 1.1rem;
}

#foodItemQuantity{
    border: 1px  rgb(197, 197, 197) solid;
    padding: 0px 8px;
    height: 26px;
}

#displayItem {
    display: none;
}

/* userProfile頁面 */
#userProfileBgDiv {
    height: 670px;
    background: center/cover no-repeat  url("../img/bg1.jpg") ;
}

#userProfileOuterDiv {
    border: 1px  rgb(197, 197, 197) solid;
    background-color: rgba(255, 255, 255, 0.5) ;
    box-shadow: 0.5px 1px 2px 1px rgba(145, 139, 139, 0.7);
}

#userProfileInnerDiv {
    padding: 50px 20px 40px;
}

.creditInputWidth {
    width:100%;
}