/* 整個畫面 */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
} 

/* 導覽列滑過超連結 */
#navbarItem a {
    color: #ffa500;
}

/* 隱藏式 header 搜尋 */
#headerSearchLarge,
#headerAreaLarge,
#headerCategoryLarge {
    display: none;
}

/* 餐廳細項頁面 header 地址搜尋 */
#restaurantDetailHeaderSearchLarge {
    display: none;
}

 /* 內容 */
.main {
    flex: 1;
    padding-top: 60px;
}

 /* 內容頭版 */
.mainHead {
    background-image: url("../img/banner.png");
    background-position: center;
    background-size: fill;
    width: 100%;
    height: 415px;
    display:flex;
    align-items:center;
    justify-content:center;
}

 /* 內容搜尋端div */
.mainSearchDiv {
    height: 180px;
    width: 900px;
    text-align: center;
}

#selectArea,
#selectCategory,
#SearchAddress {
    float: left;
}

/* 本日推薦 */
#todayRecommend {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* 本日推薦,熱門餐廳 */
#todayRecommend,
#popularRestaurant {
    width: 90%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.todayRecommendContent,
.popularRestaurantContent {
    padding: 0px 15px;
}

.todayRecommendContentItem,
.popularRestaurantContentItem {
    background-color: #FFF8DC;
    padding: 0px 10px;
    text-align: center;
}

/* 首頁餐廳圖片css */
.restaurantImage {
    object-fit: cover;
    width: 100%;
    height: 240px;
}

/* 分隔線 */
.separationline {
    width:88%;
    margin:0 auto;
}

/* 餐廳圖片超連結css */
.restaurantLink {
    color:black;
}

.restaurantLink:hover {
    color:black;
    text-decoration:none;
}

/* 餐廳加入 */
.restaurantJoinUs {
    background-image: url("../img/restaurant.jpg");
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 450px;
    display:flex;
    align-items: center;
}

.restaurantJoinUsContent {
    background-color: white;
    margin: auto 35px;
    padding: 20px;
}

#restaurantJoinBtn {
    float: right;
    width: 50%;
}

/* 頁尾 背景 */
.footer {
    padding-bottom: 88px;
    padding-top: 88px;
    background-color: #FFF8DC;
}

/* 頁尾 字體顏色 */
.footer * {
    color: #ffa500;
}

/* 頁尾 滑過超連結 */
.footer a:hover {
    color: #ffa500;
    text-decoration:none;
}

/* 頁尾 字體置中 */
.footerTop,
.footerBottom  {
    text-align: center;
}

/* ShoppingBagModal */
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 430px;
    height: 100%;
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-title{
    color: orange;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

#shoppingBagModalBody ul,
#shoppingBagModalBody li{
    padding:0; 
    margin:0;
}

.shoppingBagModalItemQuantity {
    width: 20%;
}

.shoppingBagModalItemDetail {
    width: 75%;
    color: black;
}

.shoppingBagModalItemDetail:hover {
    color: black;
}

.modal.right #shoppingBagModalCheckOutDiv {
    background-color: orange;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 20px;
}

.modal.right #shoppingBagModalCheckOutItem {
    border-color:white;
    border-style:solid;
    border-width:1px;
    padding: 0px 4px;
}

.modal.right.fade .modal-dialog {
    right: -430px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

/* 餐廳title資訊 */
.restaurantImgDiv {
    width: 100%;
    height: 380px;
    background-image: url("../img/restaurant1.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
}

.restaurantDetailDiv{
    width: fit-content;
    background: transparent;
}

.restaurantDetail {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 24px 40px 24px 80px;
}

.restaurantDetailList div{
    background-color: #FFF8DC;
    padding: 0px 10px;
    text-align: center;
}

.restaurantDetailAddress {
    padding-top: 20px;
    font-size: 0.9rem;
}

.restaurantDetailAddress a {
    color: #ffa500;
}